.text-dark-gray {
  color: #443d36 !important;
}
.text-red {
  color: #ce2528 !important;
}
.ion-md-size {
  font-size: 18px;
}
.ion-lg-size {
  font-size: 48px;
}
.red-bg, .day.active {
  background-color: #ce2528 !important;
}
a.label.tbl-primary-btn {
  color: white;
  padding: 5px 22px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.3px;
}
a.label.tbl-primary-btn {
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
a.label.tbl-primary-btn:hover {
  color: white;
}
.datepicker-days table {
  font-weight: 300;
}
.datepicker-days table th {
  font-weight: 400;
}
tr.data-content td:last-child {
  text-align: right;
}
tr.data-content:first-child td {
  border-top: 0;
}
a.tbl-primary-btn i, span.btn-text {
  display: table-cell;
  vertical-align: middle;
}
a.not-active {
  pointer-events: none;
  opacity: 0.7;
}
button.table-primary-main-btn {
  border-radius: 2px;
  padding: 5px 22px;
  letter-spacing: 0.3px;
}
button.table-parimary-main-btn span i {
  font-size: 16px;
}
.btn-gray-bg {
  background-color: #7b7b7b !important;
  border-color: #7b7b7b !important;
}
.btn-gray-bg:hover {
  color: white;
  background-color: #595959 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.form-control:focus {
  border-color: #443d36;
}
.body-padded {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.btn.red-primary, .btn.gray-primary {
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.5px;
  margin: 0px;
  border-radius: 2px;
  padding: 3px 20px;
  font-size: 13px;
}
.btn.red-primary {
  background-color: #ce2528;
}
.btn.red-primary:hover {
  background-color: #b72124;
}
.btn.gray-primary {
  background-color: #7b7b7b;
}
.btn.gray-primary:hover {
  background-color: #595959;
}
.btn.red-primary, .btn.gray-primary {
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.form-btn > i {
  vertical-align: middle;
}
.form-btn > span {
  position: relative;
  top: 2px;
}
.tooltip > .tooltip-inner {
  background-color: #ce2528;
  padding: 5px 10px;
  letter-spacing: 0.5px;
}
.tooltip.top > .tooltip-arrow {
  border-top-color: #ce2528;
}
.tooltip.right > .tooltip-arrow {
  border-right-color: #ce2528;
}
.page-section-heading {
  margin-bottom: 0px;
  font-size: 20px;
}
/********* beacon colors *********/
.beacon-purple {
  color: rgb(94, 51, 116);
}
.beacon-blue {
  color: rgb(83, 122, 168);
}
.beacon-green {
  color: rgb(120, 168, 143);
}
.beacon-maroon {
  color: rgb(124, 30, 78);
}
.beacon-pink {
  color: rgb(227, 162, 218);
}
.beacon-maroon {
  color: rgb(124, 30, 78);
}
.beacon-yellow {
  color: rgb(208, 226, 140);
}

/********* beacon colors *********/

img.header-main-icon {
  width: 150px;
  position: relative;
  top: 6px;
}
h1.login-title {
  font-size: 30px;
}
/****** login page *********/
.login-container {
  margin-top: 12%;
  color: #443d36;
}
.login-left-section {
  text-align: center;
}
.login-left-section > img.login-logo {
  width: 55%;
}
.login-form .form-control {
  padding: 18px 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  border-radius: 2px;
}
.login-form .form-group {
  margin-bottom: 5px;
}
.login-form {
  margin-top: 25px;
}
button#login-btn {
  padding: 6px 30px;
  border-radius: 2px;
  background-color: #ce2528;
  border: none;
  letter-spacing: 0.3px;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
button#login-btn:hover {
  color: white;
  background-color: #b72124;
}
#icon-psw {
  font-size: 20px;
}
/****** login page ends *********/

/***** all beacons, container *****/
.beacons-container {
  min-height: 400px;
  height: 400px;
  text-align: center;
  background: white;
}
.page-title li {
  color: #443d36;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-left: 5px;
}
.page-title li:first-child {
  margin-left: 0;
}
.page-title li:last-child:before {
  padding: 0 5px;
  font-family: FontAwesome;
  content: "\f105";
}
.page-title li:last-child a {
  margin-left: 5px;
  color: #ce2528;
}
.page-title li:last-child a:hover {
  color: #ce2528;
}
.beacons-wrapper, .main-content-wrapper {
  padding-top: 16px;
}
table.beacons-table {
  font-weight: 300;
}
table.beacons-table td{
  color: #443d36;
}
label.checkbox.table-checkbox {
  margin: 0;
}
table.beacons-table td.beacon-info {
  padding: 20px 0;
  line-height: 22px;
  letter-spacing: 0.3px;
}
td.beacon-info:first-child {
  padding-top: 10px;
}
.widget-content.padded.clearfix.table-wrapper {
  padding: 0 15px;
}
.beacon-sub-data {
  font-size: 13px;
}
span.beacon-title, .beacon-sub-data > span:nth-child(even) {
  font-weight: 400;
}
td > i.beacon-icon {
  font-size: 50px;
}
.heading.table-heading {
  display: table;
}
.heading.table-heading span.table-title, .heading.table-heading .beacon-search-wrapper {
  display: table-cell;
}
.beacon-search-wrapper {
  width: 300px;
}
#beacon-search-form .form-group{
  margin-bottom: 0;
}
.beacon-section-heading > * {
  position: relative;
}
.beacon-section-heading span.table-title {
  top: 8px
}
.beacon-section-heading .beacon-search-wrapper {
  top: 4px;
}
.form-control.search-beacon-input {
  border-radius: 2px;
  font-weight: 300;
}
.form-control.search-beacon-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #443d36;
}
.form-control.search-beacon-input::-moz-placeholder { /* Firefox 19+ */
  color: #443d36;
}
.form-control.search-beacon-input:-ms-input-placeholder { /* IE 10+ */
  color: #443d36;
}
.form-control.search-beacon-input:-moz-placeholder { /* Firefox 18- */
  color: #443d36;
}
.buttons-wrapper {
  top: 3px;
}
button#beacon-search-submit {
  border-radius: 0 2px 2px 0;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  padding: 6px 15px;
  margin-right: 7px;
}
a.label.tbl-primary-btn.beacon-add-btn {
  margin-right: 0px;
}
a.label.tbl-primary-btn.beacon-add-btn:hover, a.label.tbl-primary-btn.beacon-del-btn {
  background-color: #d6333e !important;
}
#add-beacon-modal .modal-body {
  padding-bottom: 0px;
}
#add-beacon-modal .modal-footer {
  padding-top: 0px;
}
#register-beacon-form .form-group label, .general-form .form-group label {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.3px;
}
#register-beacon-form .form-control, .general-form .form-control {
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.3px;
  border-radius: 2px;
}
label.form-error, #register-beacon-form .form-group label.form-error, label.form-error.main-error, label.general-msg, #register-beacon-form .form-group label.general-msg {
  text-transform: none !important;
  letter-spacing: 0.5px !important;
  font-weight: 300;
  letter-spacing: 0.3px;
}
label.form-error, #register-beacon-form .form-group label.form-error{
  font-size: 12px;
  color: red;
}
label.form-error.main-error {
  font-size: 14px;
  color: red;
}
label.general-msg, #register-beacon-form .form-group label.general-msg {
  font-size: 13px;
  color: rgb(68, 61, 54);
}
form#register-beacon-form > fieldset > .row + .row, form.general-form > fieldset > .row + .row {
  margin-top: 0px;
}
form.general-form > fieldset > .row:first-child {
  margin-top: 10px;
}
form.general-form > fieldset > .row + .row.form-actions {
  margin-top: 0px;
}
form.general-form > fieldset > .row .last-btn {
  margin-left: 5px;
}
.alert.form-message {
  font-weight: 300;
  padding: 8px 15px;
}
.alert.form-message > i{
  position: relative;
  top: 1px;
}
.alert.form-message > button.close{
  line-height: 22px;
}
/****** beacons section ends ********/
/****** analytics section starts ********/
.analytic-filter-wrapper {
  position: relative;
  top: 10px;
}
.form-red-primary-btn {
  color: white;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  background-color: #ce2528;
  border-radius: 2px;
  border: 0;
}
.form-red-primary-btn:hover, .form-red-primary-btn:focus {
  background-color: #d6333e;
  color: white;
}
.form-red-primary-btn > i {
  position: relative;
  top: 1px;
}
.form-control.md-input {
  height: 38px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 300;
}
select.form-control {
  border-radius: 2px;
}
.analytics-wrapper {
  padding-top: 16px;
  padding-bottom: 20px;
}
#input-date-from, #input-date-until {
  display: none;
}
.row.analytic-body-wrapper {
  padding: 20px 0;
}
.normal-tile-text {
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.number.medium-gray-text {
  font-weight: 300 !important;
  color: #443d36 !important;
}
.heading.custom-section-heading {
  border-bottom: 0;
}
table.analytic-table {
  font-weight: 300;
}
table.analytic-table th {
  font-weight: 400;
}
.second-chart {
  min-height: 333px;
}

/****** analytics section ends ********/
/****** users section ends ********/
.table.general-tbl tbody > tr > td {
  font-weight: 300;
}
a.table-actions:hover {
  color: #ce2528;
}
#user-form-actions {
  margin-top: 10px;
}
/****** users section ends ********/
