/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  body {
    background: red;
  }
  .heading.table-heading .beacon-search-wrapper {
    display: inherit;
    position: relative;
    left: 4px;
    top: 8px;
  }
}
@media screen and (min-width: 768px) {
  #add-beacon-modal .modal-dialog {
    width: 700px;
  }
}